@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
*{
    font-family: 'Shojumaru', cursive;
}
body{
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1544411047-c491e34a24e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
}
.button{
    padding: 25px;
    margin: 0px  2px;
    border: 2px solid lightsteelblue;
    border-radius: 20px 4px;
    cursor: pointer;
    background-color:#e7cac5;
    width:65px;
}
.button:hover{
    border-radius: 4px 20px;
    border: 2px solid cyan;
}
.row{
    margin: 6px  0px;
}

.row input{
    margin: 0px;
    padding: 15px 0px;
    border: 3px solid silver;
    border-radius: 0px 10px;
    font-size: 20px;
    width: 325px;
}